// color
$white: #fff;
$black: #000000;
$blue: #20A0FF;
$border-color: #d1d5da;

// width
$width: 20px;

// padding
$sm-pad: 0.5rem;
$normal-pad: 1rem;

//text
$text: $black;
$secondary: rgba(0, 0, 0, 0.54);
$disabled: rgba(0, 0, 0, 0.38);
$dividers: rgba(0, 0, 0, 0.26);

// font-sisze
$font-size-base: 14px;

// 主题
$background:  #D0CCD0;
$Grayblack: #FBFCFF;
$brown: #605856;
$border: #1C6E8C;
$head: #274156;
